<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<title>Willkommen im Superkicker Tippspiel</title>
</head>
<body>
	<a href="{{ path('ts_superkicker_tipp_edit') }}">Tipp anlegen / bearbeiten</a>
</body>
</html>