<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css"/>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<div id="menu">
			{% block menu %}
				<ul>
					<li>
						<a href="{{ path('ts_superkicker_index') }}" id="home">Home</a>
					</li>

					<li>
						<a href="{{ path('ts_superkicker_tipp_edit') }}" id="tipps">Tipps</a>
					</li>
					<li>
						<a href="{{ path('ts_superkicker_match_edit') }}" id="matches">Matches</a>
					</li>
					<li>
						<a href="{{ path('ts_superkicker_club_list') }}" id="clubs">Clubs</a>
					</li>
				</ul>
			{% endblock %}
		</div>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}{% endblock %}
		</div>
	</body>
</html>