{% extends "subpage.html.twig" %}
{% block title %}Rangliste{% endblock %}

{% block content %}
    <h1>Ranking</h1>


            <table class="responsive table">
                <tr class="headline">
                    <th>Position</th>
                    <th>User</th>
                    <th>Tipps</th>
                    <th>Punkte</th>
                </tr>
                {% for ranking in rankings %}
                    <tr>
                        <td data-title="Position">{{ ranking.position }}</td>
                        <td data-title="User">{{ ranking.user.username }}</td>
                        <td data-title="Tips">{{ ranking.tipCountPerTournament }}</td>
                        <td data-title="Punkte">{{ ranking.score }}</td>
                    </tr>
                {% endfor %}
            </table>

{% endblock %}