{% extends "subpage.html.twig" %}

{% block heading %}Home{% endblock %}

{% block title %}Willkommen im Superkicker Tippspiel{% endblock %}

{% block content %}
    <div class="content-inner">
        <div class="jumbotron">
            <h1>Herzlich Willkommen</h1>
            <p>News</p>
            <p>Score: {{ score }}</p>

        </div>
    </div>
{% endblock %}
