{% extends "FOSUserBundle::layout_subpage.html.twig" %}

{% block fos_user_content %}
    <h1>Passwort ändern</h1>
    {% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
