.navbar-toggle {
	float: left;
	margin-left: 20px;
	border-color: #fff!important;
}

.navbar-inverse {
	background-color: #093;
	border-color: #094;
	color: #fff;
}


.navbar-inverse a{
	color: #fff;
}

.navbar-inverse .navbar-nav li a{
	color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #fff!important;
}

#login, #register {
	border-radius: 10px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background: #fff;
	padding: 20px;
	opacity: 1.0;
}


div#content {
	height: 90%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

.input-group {
	margin-bottom: 10px;
}

.input-group .glyphicon {
	top: 0px;
}

html,body { height: 100%; margin: 0px; padding: 0px; }

body{
	background: url('../img/background2.jpg') no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-attachment:fixed;
	background-size: cover;
	background-size: 100%;
	background-color: #709947 !important;
	background-position: 0px 50px;
}

div#content-background {
	padding: 20px;
	height: 85%;
	width: 95%;
	background: #fff;
	border-radius: 20px;
	-khtml-opacity:.50;
	-moz-opacity:.50;
	-ms-filter:"alpha(opacity=50)";
	filter:alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
	opacity:.50;
	position: absolute;
}

div#content-inner {
	margin-top: 10px;
	padding: 20px;
	padding-top: 10px;
	background: #fff;
	position: relative;
}

div.pagination-table {
	margin-top: 10px;
	display: table;
	width: 100%;

}

div.pagination-left, div.pagination-right  {
	display: table-cell;
	min-width: 25px;
	height: 100%;
	vertical-align: middle;
	line-height: 100%!important;
	background-color: #eee;
	border-left: 2px;
	border-right: 2px;
}

div.pagination-right {
	text-align: right;
}

div.pagination-left a, div.pagination-right a  {
	width: 25px;
	height: 100%;
}


div.pagination-content {
	display: table-cell;
	width: 100%;
}


table.responsive th {
	border-top: 0px!important;
}

table.responsive tr.headline {
	border-top: 0px!important;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table.responsive, table.responsive > thead, table.responsive > tbody, table.responsive > tbody > tr > th, table.responsive > tbody > tr > td, table.responsive > tbody > tr {
		display: block;
		width: 100%;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	table.responsive > thead > tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	table.responsive > tbody > tr {
		border: 1px solid #ccc;
		margin-bottom: 10px;
	}

	table.responsive > tbody > tr > td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-top:15px;
		padding-left: 70px!important;
		height: 50px!important;
		width: 100%!important;
		vertical-align: middle;
	}

	table.responsive > tbody > tr > td > select, table.responsive > tbody > tr > td > div, table.responsive > tbody > tr > td > input{
		margin-top: -7px;
	}

	table.responsive > tbody  > tr > td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		bottom: 15px;
		left: 6px;
		width: 70px;
		padding-right: 20px;
		white-space: nowrap;
		content: attr(data-title);
	}

	table.responsive th {
		display: none!important;
		border-top: 0px!important;
	}

	table.responsive tr.headline {
		display: none!important;
		border-top: 0px!important;
	}

	#login {
		margin-top: 20px!important;
	}
}


.pagination-content {
	margin-top: 10px;
}

input.score {
	max-width: 45px;
}

div.score-group {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
}

a.tile {
	display: inline-block!important;
	padding-right: 10px!important;
	padding-top: 10px!important;
	width: 50px;
}

.tile-dropdown {
	text-align: left;
	min-width: 220px;
}

.navbar-inverse .dropdown-menu {
	background-color: #081;
}

.navbar-inverse .dropdown-menu a:hover {
	color: #000;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.file-thumbnail-footer {
	display: none;
}

.file-preview-frame {
	width: 60px!important;
	height: 23px!important;
	margin: 0px!important;
	padding: 0px!important;
	border: none!important;
	box-shadow: none!important;
}

.btn-primary {
	background-color: #093!important;
	border-color: #094!important;
	color: #fff;
}


.file-preview img {
	width: 22px!important;
	height: 22px!important;
	float: right;
}

.file-preview {
	width: 90px;
	float: left;
}
.file-input .form-control {
	display: none;
}

.file-input .input-group {
	width: 150px;
}

.file-input .close {
	position: absolute;
}

.lastrow td {
	border-top: double #ddd!important;
}