.navbar-toggle {
	float: left;
	margin-left: 20px;
	border-color: #fff!important;
}

.navbar-inverse {
	background-color: #093;
	border-color: #094;
	color: #fff;
}

.navbar-inverse a{
	color: #fff;
}

.navbar-inverse .navbar-nav li a{
	color: #fff;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #fff!important;
}

#login, #register {
	border-radius: 10px;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background: #fff;
	padding: 20px;
	opacity: 1.0;
}


div#content {
	height: 90%;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	padding: 10px;
}

.input-group {
	margin-bottom: 10px;
}

.input-group .glyphicon {
	top: 0px;
}

html,body { height: 100%; margin: 0px; padding: 0px; }

body{
	background: url('../images/background2.jpg') no-repeat center bottom fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-size:100%;
}

div#content-background {
	padding: 20px;
	height: 85%;
	width: 95%;
	background: #fff;
	border-radius: 20px;
	-khtml-opacity:.50;
	-moz-opacity:.50;
	-ms-filter:"alpha(opacity=50)";
	filter:alpha(opacity=50);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
	opacity:.50;
	position: absolute;
}

div#content-inner {
	margin-top: 10px;
	padding: 20px;
	padding-top: 10px;
	background: #fff;
	height: 100%;
	position: relative;
}

div.pagination-table {
	margin-top: 10px;
	display: table;
	width: 100%;

}

div.pagination-left, div.pagination-right  {
	display: table-cell;
	min-width: 25px;
	height: 100%;
	vertical-align: middle;
	line-height: 100%!important;
	background-color: #eee;
	border-left: 2px;
	border-right: 2px;
}

div.pagination-right {
	text-align: right;
}

div.pagination-left a, div.pagination-right a  {
	width: 25px;
	height: 100%;
}


div.pagination-content {
	display: table-cell;
	width: 100%;
}


@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table.responsive, table.responsive > thead, table.responsive > tbody, table.responsive > tbody > tr > th, table.responsive > tbody > tr > td, table.responsive > tbody > tr {
		display: block;
		width: 100%;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	table.responsive > thead > tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	table.responsive > tbody > tr {
		border: 1px solid #ccc;
		margin-bottom: 10px;
	}

	table.responsive > tbody > tr > td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-top:15px;
		padding-left: 120px!important;
		height: 50px!important;
		width: 100%!important;
		vertical-align: middle;
	}

	table.responsive > tbody > tr > td > select, table.responsive > tbody > tr > td > div, table.responsive > tbody > tr > td > input{
		margin-top: -7px;
	}

	table.responsive > tbody  > tr > td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		bottom: 15px;
		left: 6px;
		width: 120px;
		padding-right: 20px;
		white-space: nowrap;
		content: attr(data-title);
	}
}


.pagination-content {
	margin-top: 10px;
	padding-left:20px;
	padding-right: 20px;
}

input.score {
	max-width: 45px;
}

div.score-group {
	width: 200px;
	min-width: 200px;
	max-width: 200px;
}

a.tile {
	display: inline-block!important;
	padding-right: 10px!important;
	padding-top: 10px!important;
	width: 50px;
}

.tile-dropdown {
	text-align: left;
	min-width: 220px;
}